


h1  {   color: royalblue;
        font-size: 36px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;}

p {     color: salmon;
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}